{% extends "base_5.html" %}
{% block title %} Home {% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}	
{% endblock %}
{% block content %}
{% if user %}
<h1>Bienvenido {{ username }}</h1>
{% else %}
<div>
	<h2>Ingresar</h2>
	<form action="/" method="POST">
		<table>
			<tr>
				<td>Username:</td>
				<td>
					<input name="name" type="text" required placeholder="Username" pattern="[A-Za-z][a-zA-Z0-9_]{5,11}">
				</td>
			</tr>
			<tr>
				<td>Password:</td>
				<td>
					<input name="pw" type="password" placeholder="Password" required pattern="[a-zA-Z0-9]{6,12}">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Ingresar">
				</td>
			</tr>
		</table>
	</form>
</div>
{% endif %}
{% endblock %}