{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}
	{{ super() }}
    <script type="text/javascript">
	$(function() {
		
		$( "#dialog" ).dialog({
			autoOpen: true,
			draggable: false,
			resizable: false,
			position: {
				my: "top",
				at: "top+70",
				of: window
			},
			width: 490,
			zIndex: 2,
		});
		
		$('.ui-dialog-titlebar-close').remove();
	});
	</script>
{% endblock %}
{% block content %}
{% if error %}
		<div> {{error}} </div>
	{% endif %}
	{% if user %}
	<div id="dialog" title="{{user}}, Bienvenido!">
	{% else %}
	<div id="dialog" title="Bienvenido!">
	
		<form method="post" action="/">
			<span>
				email
			</span>
			<input id="username" name="username" value="{{ username }}">
			<br>
			<span>
				password
			</span>
			<input id="pass" name="pass" type="password">
			<br>
			<input value="Ingresar" type="submit">
		</form>
	{% endif %}
	</div>
    	<form method="post">			
			<table width="300" align="center">
				<thead>
					<tr><td colspan="2">
					{% if error: %}
					<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">				
						<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
						{{error}}
						</p>				
					</div>
					{% endif %}
				</td></tr>
					<tr><td colspan="2">
					<h2>Bienvenido</h2>
					</td></tr>
				</thead>				
				<tr>
					<td class="label">
						Usuario:
					</td>
					<td>
						<input type="text" name="username" value="{{username}}">
					</td>
				</tr>
				<tr>
					<td class="label">
						Password:
					</td>						
					<td>
						<input type="password" name="password" value="">
					</td>
				</tr>
				<tr><td colspan="2" align="center"><input type="submit" value="Ingresar"></td></tr>
				<tr><td colspan="2" align="center"><a href="/newUser"> Crear nuevo usuario</a></td></tr>
				
			</table>			
		</form>		
		<br>		
{% endblock %}
