{% extends "base_5.html" %}
{% block title %} new {% endblock %}
{% block scripts %}
<script type="text/javascript" src="js/jquery.mtz.monthpicker.js"></script>		
<script type="text/javascript">
$(function(){
	// Month picker
	$('#date').monthpicker({
	    pattern: 'yyyy-mm'			    
	});
	
	$('#date').monthpicker().bind('monthpicker-click-month', function () {
	    getReports();
	});
});



function getReports(){
	id = $('#pub_id').val();
	date = $('#date').val();
	date = date.split('-');
	
	
	if (id != '-1'){
		var Pubdata = {id:id};
		
		if (date != ''){
			
			year = parseInt(date[0]);
			month = parseInt(date[1],10);
							
			if (2011 < year && year < 2030 && month > 0 && month < 13){
				Pubdata.year = year;
				Pubdata.month = month;
			}
		}
		$.ajax({
			type: 'POST',
			url: '/list',
			data: Pubdata,
			success: function(data){
				data = data.split(";");
				if (data[0] == "0"){
					$('#reports').html('')
					$('#empty').html('No hay registros para este usuario')
				}
				else{
					var content = '';
					for(i=0;i<parseInt(data[0]);i++){
						content += '<tr><td>'
						content += data[7*i+1];
						content += '</td><td>';
						content += data[7*i+2];
						content += '</td><td>';
						content += data[7*i+3];
						content += '</td><td>';
						content += data[7*i+4];
						content += '</td><td>';
						content += data[7*i+5];
						content += '</td><td>';
						content += data[7*i+6];
						content += '</td><td>';
						content += data[7*i+7];
						content += '</td></tr>';
					}
					$('#empty').html('')
					$('#reports').html(content);
					
				}
			}
		});
	}
}
</script>
{% endblock %}
{% block content %}
{% if u_id %}
<input type="hidden" id="pub_id" value="{{ u_id }}">
<table>
	<tr>
		<td>Filtrar por Mes:</td>
		<td><input id="date"/></td>
	</tr>
</table>
<div id="empty"></div>
<table >
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Libros</th>
			<th>Folletos</th>
			<th>Horas</th>
			<th>Revistas</th>
			<th>Revisitas</th>
			<th>Estudios</th>
		</tr>					
	</thead>
	<tbody id="reports">
		
	</tbody>
</table>
{% else %}
	<div>ERROR<div>
	<a href="/">Home</a>
{% endif %}
{% endblock %}	