<!DOCTYPE PUBLIC>
<html>
	<head>
		<title>newCong</title>
		<link type="text/css" href="css/custom-theme/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.21.custom.min.js"></script>
	</head>
	<body>
		<h2> Crear nueva Congregaci&oacute;n</h2>
		<h4> {{success}} </h4>
		<form method="GET" action="">
			Nombre de la Congregaci&oacute;n
			<input type="text" name="c_name">*
			<br>
			Ciudad
			<input type="text" name="c_city">*
			<input type="submit" value="Guardar">
		</form>
	</body>
</html>